PGHOST=192.168.0.5
PGPORT=5432
PGDATABASE=default_db
PGUSER=gen_user
PGPASSWORD=replace-with-database-password
PGSSLMODE=disable

SESSION_SECRET=replace-with-at-least-32-random-characters
INITIAL_ADMIN_EMAIL=admin@example.com
INITIAL_ADMIN_PASSWORD=replace-with-at-least-8-characters
INITIAL_ADMIN_NAME=Администратор

S3_ENDPOINT=https://s3.twcstorage.ru
S3_REGION=ru-1
S3_BUCKET=neva-approvals-documents-2636
S3_ACCESS_KEY_ID=replace-with-access-key
S3_SECRET_ACCESS_KEY=replace-with-secret-key
